@page "/game/{usernick}/{level}"
@using BomberMan.Client.Data

<div class="score-board">
    <table class="table-bordered" style="background-color: yellow">
        <thead>
        <tr>
            <th>User Nick</th>
            <th>Win in Time</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var playerScore in PlayerScores)
        {
            <tr>
                <td>@playerScore.UserNick</td>
                <td>@playerScore.TimeElapsed</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="float-left" style="background-color: #9fcdff">
    @if (GameState == GameState.Lose)
    {
        <div class="row">
            You lost the game :(
            <a class="btn btn-warning" @onclick="RestartLevel">Restart</a>
        </div>
    }
    @if (GameState == GameState.Win)
    {
        <div class="row">
            You win in time: @ElapsedTime
            <a class="btn btn-warning" @onclick="RestartLevel">Restart</a>
            <a class="btn btn-warning" @onclick="NextLevel">Next level</a>
            <a class="btn btn-warning" @onclick="NewGame">Start with new Nick</a>
        </div>
    }
</div>
<div class="game-window" tabindex="0" @ref="GameDiv" @onkeydown="@Move" @onkeyup="@StopMove">
    @lock (ToRender)
    {
        @foreach (var renderable in ToRender)
        {
            <div class="@renderable.GetCssClass()" style="@renderable.GetCssStyles()" draggable="false" dragstart="false;"> </div>
        }
    }
</div>
<div class="float-right" style="background-color: red">
    @ElapsedTime
</div>